@charset "utf-8";
html, body {
	margin: 0px;
	padding: 0px;
    /*box-sizing: border-box;*/
    height: 100%;
    text-align: center;
}

section {
    min-height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.content {
    margin-left: 280px;
    margin-right: 280px;
}


h1, h2, h3, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #494949;
    text-transform: uppercase;
}

h2 {
    color: #5d7177;
}

h3 {
    font-size: 40px;
    padding-top: 8%;
    margin-bottom: 5px;
}

h4, p {
    font-family: 'Roboto Slab', serif;
    color: #494949;
}

hr {
    width: 30px;
    height: 3px;
    background: #494949;
    border: 0;
    margin: 0 auto 40px auto;
}

.logo, li, img, .button {
    transition: all 300ms;
    -webkit-transition:all 300ms;
    -moz-transition:all 300ms;
    -o-transition:all 300ms;
}

.tag a{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    letter-spacing: 1px;    
}

.tag a:hover {
    opacity: 0.5;
}
/* ---------------- 
       announements 
------------------ */

.list-title {
    width: 1450px;
    margin: 0 auto 0 auto;
}

.list-item {
    float: left;
    font-size: 20px;
    text-align: left;
    color: #494949;
    margin-bottom: 20px;
    font-weight: 500;
    background-color: #E9ABC6;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 40px;
    padding: 20px;
    font-family: 'Roboto slab', serif;
    font-weight: 500;
}
.left-div img, .right-div img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

.left-div img:hover, .right-div img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -mox-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.left-div img {
    float: centre;
	padding-top:20px;
}
/* ---------------- 
       footer 
------------------ */

footer {
    width: 100%;
    height: 50px;
    background-color: #3f3f3f;
}

footer p {
    font-size: 13px;
    color: #f9f9f9;
    line-height: 50px;
}

